$teal: #75a3aa
$deleteRed: #ce3d27
    
.container
    max-width: 630px
    width: 80%
    margin: 0px auto
    margin-top: 3rem

    h1
        font-weight: bold
        font-size: 2rem
        text-align: center
        color: white
        background: gray

.headerTwo
    border-bottom: 1px solid $teal
    display: inline-block
    color: $teal
    padding: 5px 15px
    text-transform: uppercase
    font-size: 0.8rem
    font-weight: bold

.newFormButton
    background: $teal
    border: 0px
    border-radius: 2px
    display: inline-block
    color: white
    padding: 4px 8px
    text-transform: uppercase
    font-size: 0.8rem
    font-weight: bold

    &:hover
        background: #4d7277
        color: white

.innerContainer
    padding: 3rem
    padding-top: 2rem
    background: white
    width: 630px
    border: 1px solid gray
    margin: 0px auto

.formItem
    padding: 1rem 0.7rem
    border-bottom: 1px solid lightgray
    display: flex
    align-items: center
    font-size: 0.9rem

    .button
        padding: 5px 10px
        background: lightgray
        border: 0px
        margin: 0px 10px
        color: black
        font-size: 0.8rem
        border-radius: 2px
        width: 60px
        display: inline-block
        text-align: center

        &:hover
            cursor: pointer
            background: gray
            color: white

        &.deleteButton:hover
            background: $deleteRed

.leftFormItemPanel
    flex-grow: 1

.rightFormItemPanel
    display: flex
    justify-content: flex-end
    flex-grow: 1

.flexContainer
    display: flex