
$deleteRed: #ce3d27

.container
    max-width: 630px
    width: 80%
    margin: 1rem auto
    margin-bottom: 3rem

    .titleContainer
        text-align: center
        margin-bottom: 1rem

        .formTitle
            font-size: 2rem
            font-weight: bold

        .pageIndicator
            font-size: 0.8rem
            text-transform: uppercase
            font-weight: bold
            color: gray
        


.innerContainer
    padding: 3rem 3rem
    border: 1px solid lightgray
    padding-bottom: 1rem

.formItem
    margin-bottom: 0.7rem
    padding: 0.5rem
    box-sizing: content-box

    .question
        font-weight: bold
        margin-bottom: 0.2rem
    
    .validationMessageContainer
        height: 20px

    .validationMessage
        font-size: 0.6rem

.invalidItem
    border-left: 2px solid $deleteRed

    .question
        color: $deleteRed
        border-radius: 2px

.optionContainer
    transition: background 0.1s
    padding: 3px
    border-radius: 2px

    span
        margin-left: 10px

    &:hover
        background: lightgray
        cursor: pointer

.editableField
    width: 100%

.controlPanelContainer
    display: flex
    justify-content: center


.controlPanel
    display: flex
    flex-grow: 3
    justify-content: center
    padding: 1rem

    .button
        border: 0px
        padding: 10px
        border-radius: 2px
        margin: 0px 15px

        &:hover
            cursor: pointer
            background: lightgray

.submitButton
    width: 200px
    background: green
    border: 1px solid darkgreen
    color: white
    font-weight: bold
    border-radius: 2px
    transition: background 0.2s

    &:hover
        background: darkgreen
        cursor: pointer

.postSubmissionContainer
    border: 3px solid green
    font-size: 1.4rem
    color: green
    font-weight: bold
    margin: 0px auto
    max-width: 630px
    width: 80%
    margin-top: 5rem
    text-align: center
    padding: 4rem
    border-radius: 3px
