$teal: #75a3aa

.container
    padding-bottom: 4rem
.navbar
    background: lightgray
    display: flex
    align-items: center
    
.upperNavbar
    background: white

.titleContainer
    margin: 0px auto
    text-align: center

    .pageIndicator
        font-size: 0.7rem

.formTitle
    height: 30px
    border: 0px
    border-bottom: 1px solid black
    background: transparent
    font-weight: bold
    text-align: center
    font-size: 1.5rem

.divider
    border-right: 1px solid gray
    height: 20px
    margin-left: 15px
    margin-right: 15px

.controlPanel
    margin: 0px auto
    display: flex
    align-items: center

    button
        background: darkgray
        border: 0px
        padding: 7px
        margin: 0px 7px 0px 7px
        border-radius: 2px

        &:hover
            background: gray
            color: white
            cursor: pointer

    .greenButton
        background: green
        color: white

        &:hover
            background: darkgreen

    .leftControlPanel
        padding: 5px

    .rightControlPanel
        padding: 5px

.pageField
    height: 30px
    width: 30px
    padding: 10px
    background: transparent
    border: 0px
    border-bottom: 1px solid gray


.innerContainer
    margin-top: 20px

.addQuestionContainer
    background: white
    width: 600px
    border: 2px dashed lightgray
    margin: 0px auto
    padding: 50px
    text-align: center
    text-decoration: underline
    transition: background 0.3s
    color: gray

    &:hover
        background: lightgray
        border: 2px dashed gray
        cursor: pointer
        color: black


.successfulSubmitContainer
    border: 2px solid green
    margin: 0px auto
    max-width: 630px
    width: 80%
    margin-top: 4rem
    padding: 3rem
    border-radius: 5px
    text-align: center
