.container
    position: realtive
    background: white
    width: 630px
    margin: 0px auto
    margin-bottom: 30px
    display: flex

    .leftContainer
        display: flex
        flex-direction: column
        justify-content: center
        width: 30px
        margin-left: -30px
        align-items: center

        .arrowButton
            color: gray
            margin: 10px 0px

            &:hover
                color: black
                cursor: pointer

        

.rightContainer
    flex-grow: 1
    border: 1px solid gray

    &.deleteWarn
        border: 1px solid #ce3d27
    

.upperContainer
    padding: 0.3rem 2rem

.header
    background: lightgray
    padding: 7px
    display: flex

.deleteContainer
    text-align: right
    display: flex
    justify-content: flex-end
    flex-grow: 1

    button
        background: transparent
        border: 0px
        transition: background 0.3s
        border-radius: 2px
        padding: 5px 10px

        &:hover
            background: #ce3d27
            color: white
            cursor: pointer

.controlPanel
    padding: 12px
    border-top: 1px solid gray
    display: flex

    .leftControlPanel
        flex-grow: 1

    .rightControlPanel
        flex-grow: 1
        display: flex
        justify-content: flex-end


.controlPanelButton
    text-align: center
    text-transform: uppercase
    font-size: 0.8rem
    color: black
    display: inline-block

.answersContainer
    margin: 15px 0px

.answerContainer
    margin: 10px 0px

.fieldMultipleChoice
    display: inline-block


    .editableField
        border: 1px solid gray
        width: 400px
        padding: 3px 5px
        transition: background 0.3s
    
    &.selected
        .editableField
            border: 1px solid #ce3d27
            background: #ce3d27
            color: white

.optionField
    border: 0px
    border-bottom: 1px solid gray

.question
    border: 0px
    border-bottom: 1px solid gray
    background: transparent
    font-weight: bold
    margin-left: 43px
    width: 400px

.simpleButton
    border: 0px
    background: light-gray
    padding: 4px 12px
    color: black

    &:hover
        cursor: pointer
        background: gray
        color: white

.addOptionButton
    background: light-gray
    padding: 5px 15px
    border: 0px
    text-align: left
    color: black
    margin-left: 20px

    &:hover
        cursor: pointer

.typeSelector
    padding: 5px

    &:hover
        cursor: pointer

.styledCheck
    position: relative
    background: white
    border: 1px solid gray
    width: 15px
    height: 15px
    border-radius: 100%
    margin: 0px auto

    &:hover
        cursor: pointer

    &:after
        content: ""
        position: absolute
        display: none

    &.toggled
        cursor: pointer
        border: 1px solid green

        &:after
            display: block
            left: 5px
            top: -5px
            width: 8px
            height: 15px
            border: solid green
            border-width: 0 3px 3px 0
            transform: rotate(45deg)